body {
    background: slategrey;
}

hr {
    border-top: 4px double black;
}

.btn-select {
    border: 2px white double;
    padding: 0;
    margin-right: 0;
}

#hooks {
    margin-top: 10px;
}

.element-tag {
    color: white;
    margin: 5px 0 5px 30px;
    ;
}

.arrow {
    margin-top: 4px;
}

.selected,
.selected:hover {
    color: black;
    background: red;
}

.btn-dark {
    margin-left: 16px;
}

.page-label {
    margin-top: 5px;
}

.element-row {
    background: black;
    padding: 2px 15px 0 0px;
    margin: 6px 1px 2px 0;
}

.page-data {
    margin-left: 15px;
}

#save,
#file-list {
    margin-top: 10px;
}

#pd-header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 110%;
}

.header-size {
    margin: 10px 20px 0 0;
}

.page-label {
    text-align: right;
}

.btn-rb-add {
    margin: 10px;
}

.del-file-btn {
    background: red;
    margin: 0;
}

.load-btn-row {
    margin-top: 2px;
    background: black;
    color: white;
    border: red 2px double;
}

.paragraph-text-area {
    margin-top: 20px;
}

#msg {
    margin-top: 10px;
    color: white;
    font-size: 130%;
    font-weight: bold;
}

.export-page-btn {
    margin-top: 30px;
}

.right-justify {
    text-align: right;
}

.button {
    border-radius: 3%;
    border: white 2px double;
}

#json-output,
#page-output {
    background: whitesmoke;
    border: black outset 4px;
    font-size: 80%;
}

.header {
    background: silver;
    text-align: center;
    border: black 2px double;
    padding: 10px 0 10px 0;
    font-size: 150%;
    font-weight: bolder;
}

.page-details {
    margin: 20px 0 0 10px;
    font-weight: bold;
    padding-bottom: 20px;
    border-radius: 3%;
    border: red 4px outset;
    background: grey;
}

#top-tab-content,
#page-tab-content,
#output-content,
#fields-tab-content {
    background: black;
    color: white;
    border: red 4px double;
    font-weight: bold;
    border-radius: 3%;
    padding-left: 30px;
    margin-left: 0;
}

#fields {
    background: silver;
    border: red 4px double;
    font-weight: bold;
    border-radius: 3%;
    padding-left: 30px;
    margin: 20px 0 0 10px;
}

#fields,
#summary,
.page-details {
    height: 800px;
    overflow: scroll;
    margin-left: 4px;
}

#summary {
    margin-top: 20px;
    padding: 0 3px 0 3px;
    border: black 3px double;
    font-weight: bold;
    border-radius: 3%;
    background: rgb(6, 105, 6);
}

.field,
.show-line {
    padding: 10px 1px 10px 20px;
    background: lightgrey;
    border: 4px double black;
    font-size: 90%;
    border-radius: 3%;
}

#show-all {
    margin: 10px 0 0 0;
}

.field-button {
    font-size: 80%;
    margin-bottom: 8px;
}

.field-type {
    border: 2px red double;
    background: black;
    color: white;
    text-align: center;
}

.fa {
    margin: 5px 15px 0 0;
    background: black;
    color: white;
    padding: 5px;
    font-size: 20px
}

.radio-button-group,
.checkbox-array-group,
.bullets-bullet {
    border: 2px black double;
    margin-bottom: 2px;
}

.btn-value {
    margin-top: 8px;
}

.inline {
    font-size: 130%;
    border: black 2px double;
    margin: 10px;
}

.delete-btn {
    border: black 4px double;
    padding-left: 5px;
    font-size: 80%;
}

.btn-hide:after {
    content: "Hide";
}

.btn-hide.collapsed:after {
    content: "Show";
}

#export {
    margin: 15px;
    font-weight: bolder;
    font-size: 100%;
}

.tab {
    overflow: hidden;
    border: 4px solid black;
    background-color: red;
}

.tab button {
    background-color: slategrey;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 4px 16px;
    transition: 0.3s;
    border-radius: 10%;
    margin: 4px 2px;
}

.tab button:hover {
    background-color: lightblue;
}

.tab button.active {
    background-color: #ccc;
}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.replace-row {
    text-align: left;
    border: black 1px solid;
    margin: 0 10px 0 20px;
}

.checkbox-row {
    text-align: left;
    margin: 0 10px 0 10px;
    padding: 0;
}

.rep-btn-add,
.cb-btn-add {
    margin: 10px 0 0 0;
    border: white 1px solid;
}

.top-row,
.bottom-row {
    border: double red 2px;
    background: black;
    color: white;
    margin: 10px 10px -10px 10px;
}

#top-parts {
    font-size: 90%;
}

.dividers {
    background: rgb(62, 104, 241);
    font-size: 90%;
    margin-right: 10px;
    border: white 2px solid;
    text-align: center;
    padding-top: 6px;
}

.field,
.btn-casa {
    background: rgb(83, 119, 173);
}

.btn-casa {
    font-weight: bold;
}

.begin-hidden,
.end-hidden {
    background: grey;
    font-weight: bold;
}

.if,
.elseif,
.endif,
.else {
    background: red;
    font-weight: bold;
}

.field-label {
    text-align: right;
}

#hooks {
    font-size: 90%;
}

#show-help {
    margin-top: 10px;
}

.help-nav {
    background: black;
    color: white;
    margin-top: 15px;
}

.help-facility {
    padding-top: 8px;
    border-radius: 5%;
}

.sidebar {
    background: rgb(4, 245, 245);
    border: solid black 4px;
    padding: 20px 40px 20px 0px;
    border-radius: 5%;
    height: 700px;
    overflow: scroll;
}

.sidebar button {
    border: red solid 4px;
}

.help-build,
.page-build,
.javascript-build,
.json-build,
.validators-build {
    border-radius: 5%;
    padding: 30px 10px 0 10px;
    margin-left: 400px;
    border: black 4px solid;
}

.page-build {
    height: 800px;
    overflow: scroll;
}

.files {
    height: 600px;
    overflow: scroll;
}

.page-neutral {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
}

.btn-help {
    margin-bottom: 5px;
    text-align: left;
}

.part-label {
    background: black;
    color: white;
    border: white 2px inset;
    margin: 8px 0 0 0px;
    padding: 10px 0 10px 10px;
    width: 100%;
    text-align: center;
}

.field-build {
    margin-top: 10px;
}

.shrink {
    font-size: 80%;
}

.rep-btn-add {
    margin-top: 0;
}