body {
    background: slategrey;
}

hr {
    border-top: 4px double black;
}

.btn-select {
    border: 2px white double;
}

#hooks {
    margin-top: 10px;
}

.element-tag {
    color: white;
    margin: 5px 0 5px 30px;
    ;
}

.arrow {
    margin-top: 4px;
}

.selected,
.selected:hover {
    color: black;
    background: red;
}

.btn-dark {
    margin-left: 16px;
}

.page-label {
    margin-top: 5px;
}

.element-row {
    margin-bottom: 10px;
    background: black;
    padding: 0 10px 0 5px;
}

.page-data {
    margin-left: 15px;
}

#save,
#file-list {
    margin-top: 10px;
}

#pd-header {
    margin-top: 10px;
    font-weight: bold;
    font-size: 110%;
}

.header-size {
    margin: 10px 20px 0 0;
}

.page-label {
    text-align: right;
}

.btn-rb-add {
    margin: 10px;
}

.del-file-btn {
    background: red;
}

.load-btn-row {
    margin-top: 10px;
    background: black;
    color: white;
    border: red 2px double;
}

.paragraph-text-area {
    margin-top: 20px;
}

#msg {
    margin-top: 10px;
    color: white;
    font-size: 130%;
    font-weight: bold;
}

.export-page-btn {
    margin-top: 30px;
}

.right-justify {
    text-align: right;
}

.button {
    border-radius: 3%;
    border: white 2px double;
}

#json-output,
#page-output {
    background: silver;
}

.header {
    background: silver;
    text-align: center;
    border: black 2px double;
    padding: 10px 0 10px 0;
    font-size: 150%;
    font-weight: bolder;
}

.page-details {
    margin: 20px 0 0 10px;
    border: white 4px double;
    font-weight: bold;
    padding-bottom: 20px;
    border-radius: 3%;
}

#top-tab-content {
    margin: 20px 0 0 0;
    background: black;
    color: white;
    border: white 4px double;
    font-size: 80%;
    border-radius: 3%;
    padding: 10px 20px 10px 30px;
}

#page-tab-content {
    background: black;
    color: white;
    margin: 20px 0 0 0;
    border: black 4px double;
    font-weight: bold;
    border-radius: 3%;
    padding-left: 30px;
}

#fields-tab-content,
#fields {
    background: silver;
    margin: 20px 0 0 0;
    border: black 4px double;
    font-weight: bold;
    border-radius: 3%;
}

#summary {
    margin-top: 20px;
    padding: 0 15px 0 10px;
    border: black 4px double;
    font-weight: bold;
    border-radius: 3%;
    background: silver;
}

.field,
.show-line {
    padding: 10px 1px 10px 20px;
    background: lightgrey;
    border: 4px double black;
    font-size: 90%;
    border-radius: 3%;
}

.field-button {
    font-size: 80%;
    margin-bottom: 8px;
}

.field-type {
    padding-top: 6px;
    border: 4px red double;
    background: black;
    color: white;
    text-align: center;
}

.fa {
    margin: 5px 15px 0 0;
    background: black;
    color: white;
    padding: 5px;
    font-size: 20px
}

.radio-button-group,
.checkbox-array-group,
.bullets-bullet {
    border: 2px black double;
    margin-bottom: 2px;
}

.btn-value {
    margin-top: 8px;
}

.inline {
    font-size: 130%;
    border: black 2px double;
    margin: 10px;
}

.delete-btn {
    border: black 4px double;
    padding-left: 5px;
    font-size: 80%;
}

.btn-hide:after {
    content: "Hide";
}

.btn-hide.collapsed:after {
    content: "Show";
}

#export {
    margin: 15px;
    font-weight: bolder;
    font-size: 100%;
}

.tab {
    overflow: hidden;
    border: 4px solid black;
    background-color: red;
}

.tab button {
    background-color: grey;
    float: left;
    border: 1px solid black;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-radius: 10%;
}

.tab button:hover {
    background-color: lightblue;
}


/* Create an active/current tablink class */

.tab button.active {
    background-color: #ccc;
}


/* Style the tab content */

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

.replace-row {
    text-align: left;
    border: black 1px solid;
    margin: 0 20px 0 20px;
}

.rep-btn-add {
  margin: 10px 0 0 0; 
}